name: Pull Request CI

on:
  pull_request:
    branches:
      - main
    paths-ignore:
      - README.md
      - CHANGELOG.md
      - LICENSE
      - CONTRIBUTING.md
      - docs/**
      - mkdocs.yml

jobs:
  test:
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]
        py3version: ["9", "11"]
      fail-fast: false
    uses: fredshone/actions/.github/workflows/python-install-lint-test.yml@main
    with:
      os: ${{ matrix.os }}
      py3version: ${{ matrix.py3version }}
      notebook_kernel: caveat
      lint: false
      pytest_args: '--no-cov'  # ignore coverage
      upload_to_codecov: false
      additional_mamba_args: '-c conda-forge -c pytorch -c nvidia'

  test-coverage:
    uses: fredshone/actions/.github/workflows/python-install-lint-test.yml@main
    with:
      os: ubuntu-latest
      py3version: "11"
      notebook_kernel: caveat
      lint: false
      pytest_args: 'tests/'  # ignore example notebooks
      upload_to_codecov: true
      additional_mamba_args: '-c conda-forge -c pytorch -c nvidia'

  memory-profile:
    uses: fredshone/actions/.github/workflows/python-memory-profile.yml@main
    with:
      py3version: "11"
      upload_flamegraph: true
      additional_mamba_args: '-c conda-forge -c pytorch -c nvidia'

  # cruft-check:
  #   uses: fredshone/actions/.github/workflows/template-check.yml@main
